# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ======================
# Virtual Environment
# ======================
env/
venv/
ENV/

# ======================
# Django
# ======================
*.log
db.sqlite3
media/
staticfiles/
static/

# Local settings (important)
.env
local_settings.py

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp
*.swo

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Migrations cache (optional safe ignore)
# ======================
**/__pycache__/