body{
    background-color: #FFFBDB;
}
/* static/css/style.css */


/*
#E0E0E0
#031D44
#FFFBDB
#DA7422
#2191FB
*/


.buxbuny{
    background-color:#E0E0E0  ;
    background-color: #031D44;
    background-color: #FFFBDB;
    background-color: #DA7422;
    background-color: #2191FB;
    }

.page-list {
    list-style-type: none; /* removes bullets */
    padding: 0;
    margin: 0;
}

.page-item {
    margin: 5px 0; /* space between items */
}

.page-link {
    text-decoration: none; /* remove underline */
    color: #007bff;       /* blue link color */
    font-weight: bold;
    transition: color 0.3s;
}

.page-link:hover {
    color: #0056b3; /* darker blue on hover */
}

.course.title{
    text-decoration: none; /* remove underline */
    color: #003934;       /* blue link color */
    font-weight: bold;
    transition: color 0.3s;

}


.content-wrapper {
    padding: 20px;
    background-color: #bfddf7;
    min-height: 50vh;
    text-decoration: none;    
}


.txt-1{
    background-color: rgb(209, 218, 223);
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #000000;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
}




.txt-2{
   
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    margin: 10px;
    color: #002fff;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
}
.txt-2:hover {
    color: #fd7b01; /* darker blue on hover */
}



.txt-3{
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #1900ff;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
} 
.text-1{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 10px;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}
/* Login Signup */

.containerb {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 5px;
    gap: 5px;
  }
  .containerb div {

    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }
.containerC {
    display: grid;
    grid-template-columns:50% 50%;
 
    padding: 5px;
    gap: 5px;
  }
  .containerC div {

    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }
  .containera {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    gap: 5px;
  }
  .containera div {

    padding: 10px;
    font-size: 15px;
    text-align: left;
      text-decoration: none;
  }

  .containerd {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 5px;
    gap: 5px;
  }
  .containerd div {

    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }


  .div-1{
      background-color: #d4edda;
      font-family: Arial; max-width:300px; margin: 50px auto; padding: 20px; 
  }
  .div-2{
       
       font-family: Georgia, 'Times New Roman', Times, serif;
       color: #ffffff;
       margin:0px; 
       padding: 0px; 
  }

  
 h2{
    text-align: left;
 }
  /* GRID */
  .container {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    padding: 10px;
    align-items: center;
}

.text-1 {
    color: rgb(9, 1, 66);
    font-size: 16px;
    text-align: center;
}

.text-2 {
    color: rgb(9, 1, 66);
    font-size: 16px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    line-height: 1.5;
    text-indent: 50px;

    
}
.text-3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
    padding: 5px;
    margin: 5px;
    line-height: 1.5;


}

#id_answer_file{
    background-color: #DA7422;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
  
    line-height: 1.5; 
    border-radius: 10px;
}

label{
    background-color: #DA7422;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
    font-weight: bolder;
    padding: 10px;
    margin: 10px;
    line-height: 1.5; 
    border-radius: 10px;

}
 
::file-selector-button {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #DA7422;
  color:white;

   }



.current-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2196F3;
}

button{
    background-color:#DA7422;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
    border: 3px solid #000000;
    border-radius: 10px;
}
button:hover{
    background-color: #000000;
    color:white;
}
.btn-1{

    background-color:#DA7422;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
    border: 3px solid #000000;
    border-radius: 10px;
}

button:hover{
    background-color: #000000;
    color:white;
}



/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.a21{ 
    list-style: none; 
    padding: 05px;
    background-color: #e9e9e5;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    color:rgb(0, 0, 0);
    
    padding: 14px 40px;

}
.a22{ 
    list-style: none; 
    padding: 05px;
    background-color: #b8f1f5;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    color:rgb(0, 0, 0);
    padding: 14px 40px;
    text-decoration: none;
    text-align: right;
    display: inline-block; 

}
.a22:hover{ 

    list-style: none; 
    padding: 05px;
    background-color: #e2edf3;
    margin: 10px;
    border-radius: 5px;
    text-shadow: 10px;
    font-size: 16px;
    color:rgb(0, 0, 0);
    padding: 14px 40px;
    text-align: right;
    display: inline-block; 

}

.containerx {
    display: grid;
    grid-template-columns:auto;
    /* background-color: rgb(195, 216, 251); */
    padding: 15px;
    gap: 5px;
    text-decoration: none;
  }
  .containerx div {
    color: rgb(0, 0, 0);
    padding: 10px;

    text-align: left;
    text-decoration: none;
    list-style: none;
  }
   
  .containerx ul li a {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bolder;
     text-decoration: none;
     font-size: 20px;
     list-style: none;
     padding: 10px;
     margin: 10px;

    }
    
    .containerx  ul {
     list-style: none;
     padding: 0;
             }

  .containerx ul li a:hover {
      color: #04AA6D;
  }
  input {
    width:100%;
    height:35px;
}
