{% extends "pages/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>My Courses </h2>

{% if enrollments %}
    <ul>
        {% for enrollment in enrollments %}
            <li class="a21">
                <a href="{% url 'chapter_list' enrollment.course.slug %}">
                    {{ enrollment.course.title }}
                    
                </a>
            </li>
            <p class="text-2">{{ enrollment.course.description|truncatewords:100}}</p>
        {% endfor %}
    </ul>
{% else %}
    <p>You are not enrolled in any courses yet.</p>
{% endif %}
{% endblock %}
