{% extends "pages/base.html" %}
{% load static %}

{% block content %}
    <style>
        /* body { font-family: Arial; max-width: 400px; margin: 50px auto; padding: 20px; } */
        input { width: 70%; padding: 8px; margin: 5px 0; }
        button { width: 100%; padding: 10px; background: #4CAF50; color: white; border: none; cursor: pointer; }
        button:hover { background: #45a049; }
        .form-group { margin-bottom: 15px; }
        .messages { padding: 10px; margin: 10px 0; background: #d4edda; border: 1px solid #c3e6cb; }
    </style>
    <style>
        .containera {
          display: grid;
          grid-template-columns: 50% 50%;
          background-color: rgb(0, 0, 0);
          padding: 5px;
          gap: 5px;
        }
        .containera div {
      
          padding: 10px;
          font-size: 20px;
          text-align: center;
            text-decoration: none;
        }
        .div-1{
            background-color: #d4edda;
            font-family: Arial; max-width:300px; margin: 50px auto; padding: 20px; 
        }
        .div-2{
             
             font-family: Georgia, 'Times New Roman', Times, serif;
             color: white;
             margin:0px; 
             padding: 0px; 
        }
        </style>
</head>
<body>
    <div class="containera">
        <div class="div-2">

         
            <img src="{% static 'images/logo.png' %}"
            alt="logo"
            style="max-width:20%; height:auto; margin-bottom:20px;">
            <h1>Welcome to Study LMS</h1>
            <p>Your journey to knowledge begins here. Sign up to access a world of learning resources and connect with fellow learners.</p>
            <hr>
            <p>Name Style : Haroon</p>
            <p>Password Style : MHaroon123+</p>
            <p>Name Short in Password Use Caps+Small+Numrical+symbols</p>
            <img src="{% static 'accounts/images/signup.png' %}"
            alt="Study LMS"
            style="max-width:100%; height:auto; margin-bottom:20px;">
         
        </div>
  
        <div>
        <div class="div-1">
            <h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                <div style="color:#000000; font-size: 25px; margin-top: 5px;">
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit">Sign Up</button>
</form>

</div>
</div>

{% endblock %}
