
body{
  
  background-color: #d6ccc2;
    font-family: sans-serif;
      text-align: left;
      padding: 20px;

}

label {
  font-size:20px;
  margin: 0 10px;
  color:#3401d0;
}
.pigion{
  font-size: large;
  color:white;
  text-decoration: none;
  float: left;

 
}
ul li {
  float: left;
  list-style-type: none;

  width: 500px;
}
ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 7px 9px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  color: rgb(255, 255, 255);
}
h3{
padding:0px;
margin: 0px;
}
#downloadBtn {
  background-color: #2191FB; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.but-max{
  margin-top: 10px; 
  padding: 6px 12px; 
  background-color: #007bff; 
  color: white; border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

#downloadBtn:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
button3{
background-color: #2191FB; /* Green */
border: none;
color: white;

padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}

button:hover{
background-color: white; 
color: black; 
border: 2px solid #008CBA;
}

/* buttononclick{
  padding: 25px;
  margin: 25px;
  padding-bottom:30px;
  padding-top: 30px;
} */
button{
  background-color: #2191FB; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  /* padding-top: 10px;
  padding-left:10px;
  padding-right:10px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  /* margin-bottom: 10px;
  margin-left: 10px; */
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover{
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}



/* Dashboard */
.draggable-text {
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: move;
  user-select: none;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-end;
}

#controls label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

canvas {
  display: block;
  cursor: crosshair;
  margin-top: 0px;
}

.toolbar {
  margin-bottom: 15px;
}

input[type="color"],
input[type="range"],
button {
  margin: 0 10px;
  vertical-align: middle;
}

.pad-mar{
  padding: 10px;
  margin: 10px;
}
.max{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
}
/* Grid CSS - div */

.grid-container-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    margin: 10px;
  }
  .grid-container-1 > div {
    text-align: center;
  }
  .grid-container-2 {
    display: grid;
    grid-template-columns:25% auto;
    
  }
  .grid-container-2 > div {
    padding: 40px;

  }
  .grid-container-3 {
    display: grid;
    grid-template-columns:auto auto  auto;
  
  }
  .grid-container-3 > div {
    padding: 10px;
  }


 
 
  .grid-container-4 {
    display: grid;
    grid-template-columns: auto  auto auto auto;
  
  }
  .grid-container-4 > div {
    padding: 10px;
    
  }
  .grid-container-4-a{
    display: grid;
    grid-template-columns: auto  auto auto auto;
  
  }
  .grid-container-4-a> div {
    padding: 0px;
    margin: 0px;
    
  }
  .grid-container-5 {
    display: grid;
    grid-template-columns: auto  auto 200px auto auto;
   
  }
  .grid-container-5 > div {
    padding: 0px;
    text-align: center;
  }

  .grid-container-6 {
    display: grid;
    grid-template-columns: auto  auto auto auto auto;
    
  }
  .grid-container-6 > div {
    padding: 20px;
    text-align: center;

  }


  .grid-container-8 {
    display: grid;
    grid-template-columns: auto  400px;
    
  }


  .grid-container-9 {
    display: grid;
    grid-template-columns:50px auto auto  50px;
    
  }
  .grid-container-9 > div {
    padding: 10px;
   

  }



  .grid-container-10 {
    display: grid;
    grid-template-columns:20% 80%;
    
  }
  .grid-container-10 > div {
    padding: 0px;
   

  }

  .grid-container-11 {
    display: grid;
    grid-template-columns:auto auto;
  
  }

  .grid-container-11> div {
    padding:10px;
    margin: 10px;
  }

  .grid-container-12 {
    display: grid;
    grid-template-columns: 10%  40% 40% 10%;
    
  }
  .grid-container-12 > div {
    padding:0px;
    margin: 0px;
    text-align: center;
    

  }

  .grid-container-13{
    display: grid;
    grid-template-columns: 10% 40%  auto  10% ;
    
  }
  .grid-container-13 > div {
    padding:0px;
    margin: 0px;
    text-align: center;
    

  }

  .grid-container-14{
    display: grid;
    grid-template-columns: 20%  auto  10% ;
    
  }
  .grid-container-14> div {
    padding:0px;
    margin: 0px;
    text-align: left;
    

  }
  /* Grdi Row*/
  
  
  /* GRID */
  
    /* Grid Content */
    .content-grid {
      display: grid;
     
    }
    
   
  
  
    .grid-container {
      display: grid;
      grid-template-columns: 200px 300px; /* First column 200px, second column 300px */
  
      
    }
    
    .grid-item-1 {
      padding:10px;
      text-align: center;  
    }
    
  
    
    /* Mobile First - 1 column for all rows */
    .row-1, .row-2, .row-3, .row-4 {
      display: grid;
     
      
     
    }
    
    /* Desktop View */
    @media screen and (min-width: 768px) {
    
      /* 1 column, 1 row (remains the same) */
      .row-1 {
          grid-template-columns: 1fr;
         
      }
    
      /* 2 columns, 1 row */
      .row-2 {
          grid-template-columns: 1fr 1fr;
          
          
      }
    
      /* 3 columns, 1 row */
      .row-3 {
          grid-template-columns: 1fr 1fr 1fr;
         
      }
    
      /* 4 columns, 1 row */
      .row-4 {
          grid-template-columns: 1fr 1fr 1fr 1fr;
         
      }
    
      /* 5 columns, 1 row */
      .row-5 {
        grid-template-columns: 1fr 2fr 1fr 1fr;
       
    }
  
        /*6 columns, 1 row */
        .row-6 {
          grid-template-columns: 1fr 3fr 1fr;
         
      }
  
          /*6 columns, 1 row */
          .row-7 {
            grid-template-columns: 1fr 2fr 2fr 1fr;
           
        }
  
         /*6 columns, 1 row */
         .row-8 {
          grid-template-columns: 2fr 2fr;
         
      }
  
  
    }
    
    input{
        font-family: "Trirong", serif;
        font-size: 18px;
        color:rgb(0, 0, 0);
        padding:0px;
        margin:0px;
      }
    
      .text-1{
        font-family: "Trirong", serif;
        font-size:30px;
        color: #000;
      }
       
      .text-2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #000;
        text-align:left;
       }

       .text-3{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #000;
        text-align:center;
       }
      

       .text-4{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: bolder;
        color: #ffffff;
        text-align:left;
       }


       .text-5{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        font-weight: bolder;
        color: #002642;
        text-align:left;

       }

       .text-6{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: bolder;
        color: #002642;
        text-align:left;
        padding-top:10px;
        margin-bottom: 10px;
       }


       .text-7{
        font-family: "Trirong", serif;
        color: #ffffff;
        font-family: 'Great Vibes', cursive;
        font-size:25px;
        text-align:left;
        padding:10px;
        margin:10px;
        /* justify-content: space-around; */
        color: #faf8fc; /* Text color */
        text-shadow: 
            -1px -1px 0 #2d0752,  /* Top-left border */
            1px -1px 0 #2d0752,   /* Top-right border */
            -1px 1px 0 #2d0752,   /* Bottom-left border */
            1px 1px 0 #2d0752;    /* Bottom-right border */
      
      }


      .text-8{
        font-family: "Trirong", serif;
        color: #ffffff;
        font-family: 'Great Vibes', cursive;
        font-size:25px;
        text-align:left;
        padding:10px;
        margin:10px;
        /* justify-content: space-around; */
        color: #faf8fc; /* Text color */
        text-shadow: 
            -1px -1px 0 #2d0752,  /* Top-left border */
            1px -1px 0 #2d0752,   /* Top-right border */
            -1px 1px 0 #2d0752,   /* Bottom-left border */
            1px 1px 0 #2d0752;    /* Bottom-right border */
      
      }
          
          
       hr.blue {
        border: 1px solid blue;
        border-radius: 5px;
      }

      .dash-board2{
        background-color: #d6ccc2;
      }

      .dash-board{
        
        background-color: #002642;
      }

      
      .bg-g1{
        background-color: #e6e6d0;
      }

      .bg-g2{
        background-color: #dedcdc;
        
      }

      .bg-4{
        background-color: #E9DFC3;
      }

      .bg-5{
        
        background-color: #002642;
        padding: 10px;
        margin: 20px;
      }

      
      .bg-gray{
        background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
        display: inline-block;
      }

      .bg-g3{
        background-color: #f69309;
      }

      .bg-g3a{
        background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
        display: inline-block;
      }

      
      .bg-g4{
        background-color: #b409f2;
      }

      .bg-gblu{
        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);

      }

 /* Grid End Start Post text style */

 option{
  font-size:20px;
 }

 #font-family-input{
  font-size: 20px;
 }

.pad{
    padding:0px;
}
.pad-10{
  padding:10px;
}
 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
 

/* Move Div */





#mydiv-2 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader-2 {
  padding: 10px;
  cursor: move;
  z-index: 10;
}


#mydiv-3 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader-3 {
  padding: 10px;
  cursor: move;
  z-index: 10;
}


#mydiv-4 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader-4 {
  padding: 10px;
  cursor: move;
  z-index: 10;
}

#display-imageL{
  width:120px;
  height:120px;
  margin: 10px;
  padding:0px;
  background-size: cover;
 
 
}


#display-imageM{
  width:120px;
  height:120px;
  margin: 10px;
  padding:0px;
  background-size: cover;
 
 
}


#display-imageN{
  width:120px;
  height:100px;
  margin: 10px;
  padding:0px;
  background-size: cover;
 
 
}


#display-imageO{
  width:120px;
  height:100px;
  margin: 10px;
  padding:0px;
  background-size: cover;
 
 
}



#display-imageN{
  width:120px;
  height:100px;
  margin: 10px;
  padding:0px;
  background-size: cover;
 
 
}


#display-imageO{
  width:120px;
  height:100px;
  margin: 10px;
  padding:0px;
  background-size: cover;
 
 
}


#shapeSelect{
  font-size: xx-large;
}

#fillColor{
  width:120px;
}

#brushColor{
  width:120px;
}

#targetBox {
 
  margin-top: 20px;
  background: #f0f0f0;
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  resize: both;       /* Still allow manual resize */
  overflow: auto;
}


#gradientBox {

  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
  cursor: move;

  user-select: none;
}
.controls {
  margin: 10px;
  font-family: Arial, sans-serif;
}




:root{
  --grid-size: 32px;    /* size of each square */
  --grid-color: 0,0,0;  /* RGB color for grid lines */
  --grid-opacity: 0.18; /* default opacity */
}


.wrap{
  width:960px;
  max-width:95vw;
  text-align:center;
}

header{
  display:flex;
  gap:12px;
  align-items:center;
  justify-content:space-between;
  margin-bottom:12px;
}




/* */
label{font-size:14px;color:#333}

/* The main area where the grid will appear */

/* Grid overlay as a pseudo element */
.main-div.grid-on::before{
  content:"";
  pointer-events:none; /* allow click-through */
  position:absolute;
  inset:0;
  background-image:
    /* vertical lines */
    repeating-linear-gradient(90deg, rgba(var(--grid-color), var(--grid-opacity)) 0 1px, transparent 1px var(--grid-size)),
    /* horizontal lines */
    repeating-linear-gradient(0deg, rgba(var(--grid-color), var(--grid-opacity)) 0 1px, transparent 1px var(--grid-size));
  background-size: auto, auto;
  z-index:50;
  mix-blend-mode: normal;
}

/* A sample content inside main-div so you can see how it overlays */
.paper{
  position:absolute;
  inset:24px;
  background:linear-gradient(180deg, rgba(255,255,255,0.6), rgba(255,255,255,0.3));
  border-radius:8px;
  padding:18px;
  box-sizing:border-box;
  overflow:auto;
}

/* Navbar */


.dropbtn {
  background-color: #002642;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #000000;
  color:#ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4b015c;
  color:#ffffff;
  font-weight: bolder;

}