


{% extends 'pages/base.html' %}
{% block content %}

<h1 class="txt-1">{{ course.title }}</h1>

<ul class="txt-1">
{% for chapter in course.chapters.all %} 
  <li>{{ chapter.title }}

    <ul>
      {% for page in chapter.pages.all %}
        <li>




          <a href="{% url 'page_detail' course.slug chapter.slug page.slug %}" class="txt-2">
            {{ page.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>

{% if chapter.course.slug %}
    <a href="{% url 'live_classes' chapter.course.slug %}">
        📺 Live Classes
    </a>
{% endif %}

{% endfor %}
</ul>
{% endblock %}
