
{% extends 'pages/base.html' %}
{% block content %}


{% load static %}  <!-- <-- This is required -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="row-1 content-grid">
  <div class="grid-item-1">
    <h1 class="txt-1">{{ course.title }}</h1>
  </div>
</div>

<div class="row-2 content-grid">
  <!-- <div class="grid-item-1">
 
  </div> -->
  <div class="grid-item-1">
    {% for chapter in course.chapters.all %} 
         
    {{ chapter.title }}
              
    {% for page in chapter.pages.all %}
  </div> 
<div class="grid-item-1">
<a href="{% url 'page_detail' course.slug chapter.slug page.slug %}" class="txt-2">
                          {{ page.title }}
                      </a>
                   
                    {% endfor %}
                    {% if chapter.course.slug %}
                    <br>
                    <button class="btn">
                      <a href="{% url 'live_classes' chapter.course.slug %}">
                        📺 Live Classes
                    </a>
                    {% endif %}
                    </button>
                   
                    
                    {% endfor %}
                    
  </div>
  </div>
  <div class="row-2 content-grid">

  </div>     
  <div class="row-2 content-grid">
    <div class="grid-item-1">
            
              
    
  

 </div>

  </div>      


              </div>

             





{% endblock %}
