{% extends 'pages/base.html' %}

{% block content %}

<style>
.collapse {
    display: none;
}
.collapse.show {
    display: block;
}
</style>

<div class="containerC " style="display:flex; gap:20px;">

</div>
<div>


<div id="box" class="collapse">
  Course Videos PDF and Text
  <br>
  <button class="btn" onclick="toggleCollapse()">
  Click
  </button>
  <br>
  <h3 class="txt-1">{{ course.title }}</h3>

  <ul>
    {% for chapter in course.chapters.all %}
      <li>
        <strong>{{ chapter.title }}</strong>
        <ul>
          {% for p in chapter.pages.all %}
            <li>
              <a href="{% url 'page_detail' course.slug chapter.slug p.slug %}" class="txt-2">
                {{ p.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- RIGHT CONTENT : Page Detail -->

{% if page %}
  <h1 class="txt-1">{{ page.title }}</h1>
  <p class="txt-3">{{ page.content }}</p>

  {% if page.video %}
    <video controls width="100%">
      <source src="{{ page.video.url }}">
    </video>
  {% endif %}

  {% if page.pdf %}
    <p>
      <a href="{{ page.pdf.url }}" target="_blank" class="btn">
        📄 Download PDF
      </a>
    </p>
  {% endif %}
{% endif %}
</div>
<div></div>
</div>
<div class="containerd " style="display:flex; gap:20px;">

  <div>   </div>
 
  <div>
<!-- ASSIGNMENTS -->

{% for assignment in assignments %}
  <h2 class="text-3">{{ assignment.title }}</h2>
  <p class="text-3">{{ assignment.question }}</p>

  {% if assignment.submitted %}
    <p class="text-3">Already submitted</p>

  
      <button><a href="#" onclick="document.getElementById('submission-{{ assignment.id }}').style.display='block'">
        View Submission
      </a>
    </button>

  </div>
 <div>
  <div id="submission-{{ assignment.id }}" style="display:none;">
    {% for submission in submissions %}
      {% if submission.assignment == assignment %}
      <br>
        <p>Answer: {{ submission.answer_text }}</p>

        {% if submission.answer_file %}
          <p>
            File: <a href="{{ submission.answer_file.url }}">Download</a>
          </p>
        {% endif %}

        <p>Marks: {{ submission.marks }}</p>
        <p>Feedback: {{ submission.feedback }}</p>

        <button onclick="document.getElementById('submission-{{ assignment.id }}').style.display='none'">
          Close
        </button>
      {% endif %}
    {% endfor %}




  </div>
  </div>

  <div>
    
  {% else %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} <br>
    <input type="hidden" name="assignment_id" value="{{ assignment.id }}">

    <p>
      {{ form.answer_text.label }}:
      <input type="text" name="answer_text">
    </p>

    <p>
      {{ form.answer_file.label }}:
      <input type="file" name="answer_file">
    </p>

    <button class="btn-1" type="submit">Submit Answer</button>
  </form>
{% endif %}
{% endfor %}
  </div>



  <div>

  </div>
</div>



<script>
function toggleCollapse() {
    document.getElementById("box").classList.toggle("show");
}
</script>

{% endblock %}
